<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Port" value="6379"/>
    <add key="Auth" value="true"/>
    <add key="DBPath" value=".\db\LocalCache.db"/>
    <add key="RateLimit" value="1000"/>
    <add key="PathLog" value=".\Log"/>
    <add key="MaxKeyLenght" value="256"/>
    <add key="MaxValueSize" value="1048576"/> <!--1 MB 1024*1024-->
    <add key="MaxAuthAttemps" value="5"/>
    <add key ="MaxMemoryBytes" value="5191680"/> <!--5 MB 5*1024*1024-->
    <add key="MaxReqPerMinute" value="500"/>
  </appSettings>
</configuration>